

/*** 
=====================================================
	Main Slider style
=====================================================
***/
.main-slider {
    position: relative;
    display: block;
    background: #ffffff;
    z-index: 10;
}
.main-slider.style1 {
    background: #f8f5ee;
}
.main-slider.style1 .shape1 {
    position: absolute;
    top: -100px;
    left: -30px;
}
.main-slider.style1 .shape2 {
    position: absolute;
    top: -30px;
    right: 70px;
    opacity: 0.05;
}
.main-slider.style1 .shape5 {
    position: absolute;
    left: 0px;
    bottom: -30px;
    right: 0;
    height: 582px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


.main-slider .slide {
    position: relative;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-slider .slide .image-layer{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	-webkit-transform: scale(1);
	-ms-transform:scale(1);
	transform:scale (1);
    transition: all .8s ease-in-out .4s;
    z-index: 1;
}
.main-slider .slide .image-layer:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.main-slider .active .slide .image-layer{
	-webkit-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
}
.main-slider .content{
	position:relative;
	z-index:11;
}



.main-slider.style1 .slide {
    position: relative;
    display: block;
    overflow: hidden;
    background: #1f2021;
}
.banner-bottom-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 133px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom center;
    z-index: 100;
    overflow: hidden;
}

.main-slider.style1 .active .slide .image-layer{
	transform: scale(1.0);
}
.main-slider.style1 .slide .image-layer:before{
    display: none;
}
.main-slider.style1 .slide .image-layer{
    filter: grayscale(0);
}
.main-slider.style1 .content {
    position: relative;
    min-height: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 130px;
}
.main-slider .auto-container{
    position: relative;
}
.main-slider .content .big-title{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(-120px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(-120px);
    transform: perspective(400px) rotateY(0deg) translateY(-120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}
.main-slider .active .content .big-title{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;   
}
.main-slider .content .big-title h2{
	color: #ffffff;
	font-size: 60px;
	line-height: 1.30em;
	font-weight: 800;
    width: 100%;
}

.main-slider .content .text{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(120px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(120px);
    transform: perspective(400px) rotateY(0deg) translateY(120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}
.main-slider .active .content .text{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;   
}
.main-slider .content .text p{
	color: #ffffff;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
    text-transform: none;
    margin-bottom: 0;
}


.main-slider .content .btns-box{
	position: relative; 
    display: block;
    overflow: hidden;
    width: 100%;
    line-height: 0;
	opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(80px);
    transform: perspective(400px) rotateY(0deg) translateY(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
    z-index: 10;
}
.main-slider.style1 .content .btns-box{
    display: flex;
    align-items: center;
}
.main-slider .active .content .btns-box{
	opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 2000ms;
    -moz-transition-delay: 2000ms;
    -ms-transition-delay: 2000ms;
    -o-transition-delay: 2000ms;
    transition-delay: 2000ms; 
}
.main-slider .active .content .btns-box a+a{
    margin-left: 20px;
}

.main-slider.style1 .shape3 {
    position: absolute;
    top: 0px;
    right: 0;
    opacity: 0.05;
    -webkit-transform: perspective(400px) translateX(100%);
    -ms-transform: perspective(400px) translateX(100%);
    transform: perspective(400px) translateX(100%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
    z-index: 1;
}
.main-slider.style1 .active .shape3{
    opacity: 0.05;
    -webkit-transform: perspective(400px) translateX(0px);
    -ms-transform: perspective(400px) translateX(0px);
    transform: perspective(400px) translateX(0px);
    -webkit-transition-delay: 2000ms;
    -moz-transition-delay: 2000ms;
    -ms-transition-delay: 2000ms;
    -o-transition-delay: 2000ms;
    transition-delay: 2000ms;     
}
.main-slider.style1 .shape4 {
    position: absolute;
    left: 0px;
    bottom: 0;
    -webkit-transform: perspective(400px) translateY(100%);
    -ms-transform: perspective(400px) translateY(100%);
    transform: perspective(400px) translateY(100%);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
    z-index: 1;
}
.main-slider.style1 .active .shape4{
    -webkit-transform: perspective(400px) translateY(0px);
    -ms-transform: perspective(400px) translateY(0px);
    transform: perspective(400px) translateY(0px);
    -webkit-transition-delay: 3000ms;
    -moz-transition-delay: 3000ms;
    -ms-transition-delay: 3000ms;
    -o-transition-delay: 3000ms;
    transition-delay: 3000ms;     
}


.slide-round-image-box{
    position: absolute;
    top: 100px;
    right: -120px;
    width: 612px;
    height: 612px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) scale(0);
    -ms-transform: perspective(400px) rotateY(0deg) scale(0);
    transform: perspective(400px) rotateY(0deg) scale(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.slide-round-image-box:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgba(var(--thm-primary-rgb), .80);
    z-index: -1;
}
.main-slider.style1 .active .slide-round-image-box {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) scale(1);
    -ms-transform: perspective(400px) rotateY(0deg) scale(1);
    transform: perspective(400px) rotateY(0deg) scale(1);
    -webkit-transition-delay: 2000ms;
    -moz-transition-delay: 2000ms;
    -ms-transition-delay: 2000ms;
    -o-transition-delay: 2000ms;
    transition-delay: 2000ms;
}

.main-slider.style1 .slide-man{
    position: absolute;
    right: -70px;
    bottom: 0;
    opacity: 0;
    -webkit-transform: perspective(400px) translateY(100%);
    -ms-transform: perspective(400px) translateY(100%);
    transform: perspective(400px) translateY(100%);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
    z-index: 2;
}
.main-slider.style1 .active .slide-man{
    opacity: 1;
    -webkit-transform: perspective(400px) translateY(0%);
    -ms-transform: perspective(400px) translateY(0%);
    transform: perspective(400px) translateY(0%);
    -webkit-transition-delay: 3000ms;
    -moz-transition-delay: 3000ms;
    -ms-transition-delay: 3000ms;
    -o-transition-delay: 3000ms;
    transition-delay: 3000ms;    
}
.main-slider.style1 .shape6{
    position: absolute;
    bottom: 250px;
    right: -150px;
}





.main-slider .owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    transform-origin: bottom;
    transform-style: preserve-3d;
    line-height: 0;
    opacity: 0;
    transform: scaleX(1.0) translateY(-30px);
    z-index: 3;
}
.main-slider:hover .owl-theme .owl-nav{
    opacity: 1;
    transform: scaleX(1.0) translateY(-30px);
}
.main-slider .owl-theme .owl-prev span, 
.main-slider .owl-theme .owl-next span{
    display: block;
}
.main-slider .owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: 50px;
    top: 0;
    background: rgba(255, 255, 255, 0.10);
    border: 0px solid rgba(255, 255, 255, 0.30);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.99);
    font-size: 25px;
    line-height: 60px;
    font-weight: 400;
    opacity: 1;
    margin: 0;
    padding: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-slider .owl-theme .owl-prev span:before { }


.main-slider .owl-theme .owl-nav .owl-next {
    position: absolute;
    right: 50px;
    top: 0;
    transform: rotate(0deg);
    background: rgba(255, 255, 255, 0.10);
    border: 0px solid rgba(255, 255, 255, 0.30);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.99);
    font-size: 25px;
    line-height: 60px;
    font-weight: 400;
    opacity: 1;
    margin: 0;
    padding: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-slider .owl-theme .owl-next span:before{}

.main-slider .owl-theme .owl-nav .owl-prev:hover,
.main-slider .owl-theme .owl-nav .owl-next:hover{
    color: #ffffff;
    background: var(--thm-base);
}
.banner-carousel .owl-dots {
    display: none;
}
.main-slider.style1 .owl-theme .owl-nav{
    display: none;
}


.main-slider .banner-carousel.owl-carousel .owl-dots {
    position: absolute;
    left: 220px;
    bottom: 70px;
}
.main-slider .banner-carousel.owl-carousel button.owl-dot{
    position: relative;
    display: block;
    height: 8px;
    width: 8px;
    float: left;
    background: var(--thm-primary);
    border-radius: 50%;
    margin: 0 5px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;        
    z-index: 1;
}
.main-slider .banner-carousel.owl-carousel button.owl-dot:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    counter-increment: count;
    content: "0" counter(count);
    transition: all 100ms linear;
    transition-delay: 0.1s;
    font-family: var(--thm-font-2);
    display: none;
}
.main-slider .banner-carousel.owl-carousel button.owl-dot.active{
    width: 30px;
    background: var(--thm-base);
    border-radius: 7px;
}



/*** 
=====================================================
	Main Slider style2 style
=====================================================
***/
.main-slider.style2 {

}
.main-slider.style2 {
    background-color: rgb(248, 245, 238);
}
.main-slider.style2 .slide {
    position: relative;
    display: block;
    overflow: hidden;
    background: #f8f5ee;
    min-height: 740px;
}
.main-slider.style2 .auto-container {
    max-width: 100%;
    padding-left: 220px;
    padding-right: 0px;
}

.main-slider.style2 .content {
    position: relative;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-slider.style2 .content .big-title h2 {
    color: #252628;
}
.main-slider.style2 .content .text p {
    color: #252628;
}
.main-slider.style2 .content a.btn-one.style2:after {
    background-color: var(--thm-primary);
}


.slide-right-box{
    position: absolute;
    top: 70px;
    right: 0px;
    bottom: 70px;
    max-width: 850px;
    width: 100%;
    border-radius: 20px;
    opacity: 0;

    -webkit-transform: perspective(400px) translateX(100%);
    -ms-transform: perspective(400px) translateX(100%);
    transform: perspective(400px) translateX(100%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
    z-index: 11;
}
.slider-right-box-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 20px;
    overflow: hidden;
    transform: scale(1.0);
    transition: all 700ms ease;
    z-index: -1;
}
.slider-right-box-bg::after {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    z-index: 2;
}
.main-slider.style2 .slider-right-box-bg:hover::after{
	-webkit-animation: shine 1.5s;
	animation: shine 1.5s;
}
.slider-right-box-bg:hover{
    transform: scale(1.01);    
}

.main-slider.style2 .active .slide-right-box{
    opacity: 1;
    -webkit-transform: perspective(400px) translateX(0px);
    -ms-transform: perspective(400px) translateX(0px);
    transform: perspective(400px) translateX(0px);
    -webkit-transition-delay: 2000ms;
    -moz-transition-delay: 2000ms;
    -ms-transition-delay: 2000ms;
    -o-transition-delay: 2000ms;
    transition-delay: 2000ms;     
}


.main-slider.style2 .shape1{
    position: absolute;
    top: 0;
    left: 0;
}
.main-slider.style2 .shape2{
    position: absolute;
    top: 0;
    left: 0;
}
.main-slider.style2 .shape3 {
    position: absolute;
    left: -190px;
    bottom: -110px;
}
.main-slider.style2 .shape4 {
    position: absolute;
    top: 180px;
    left: 50%;
}
.main-slider.style2 .banner-carousel .owl-nav {
    display: none;
}
.main-slider.style2 .banner-carousel .owl-dots {
    display: block;
}



/*** 
=====================================================
	Main Slider style3 style
=====================================================
***/
.main-slider.style3 {

}
.main-slider.style3 .slide .image-layer:before{
    display: block;
    background: #18191a;
    opacity: 0.70;
}
.main-slider.style3 .content {
    position: relative;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-slider.style3 .owl-theme .owl-nav{
    display: block;
}

