


/*** 
=============================================
    Blog Style1 Area Css
=============================================
***/
.blog-style1-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 150px 0 0px;
    z-index: 1;
}

.single-blog-style1{
    position: relative;
    display: block;
    background: #ffffff;
    margin-bottom: 52px;
    z-index: 1;
}
.single-blog-style1 .img-holder{
    position: relative;
    display: block;
}
.single-blog-style1 .img-holder .inner {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
} 
.single-blog-style1 .img-holder .inner::before {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
    -webkit-transform: translateX(-50%, -50%);
    transform: translateX(-50%, -50%);
    opacity: 0;
    z-index: 1;
}
.single-blog-style1:hover .img-holder .inner::before{
    -webkit-animation: circle .95s;
    animation: circle .95s;
}





.single-blog-style1 .img-holder .inner .date-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 119px;
    height: 113px;
    z-index: 2;
}
.single-blog-style1 .img-holder .inner .date-box .shape-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.single-blog-style1 .img-holder .inner .date-box h5 {
    position: relative;
    top: 24px;
    right: -22px;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-blog-style1 .img-holder img{
    width: 100%;
    transform: scale(1.0);
}
.single-blog-style1:hover .img-holder img{
    transform:scale(1.2) rotate(1deg);	
}


.single-blog-style1 .text-holder {
    position: relative;
    display: block;
    padding: 23px 0px 0px;
}
.single-blog-style1 .text-holder .meta-info{
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 7px;
}
.single-blog-style1 .text-holder .meta-info li {
    position: relative;
    display: block;
    float: left;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    padding-right: 16px;
    margin-right: 12px;
    font-family: var(--thm-font);
    text-transform: uppercase;
}
.single-blog-style1 .text-holder .meta-info li::before {
    position: absolute;
    top: 10px;
    right: 0;
    background: #dfe1e6;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: "";
}
.single-blog-style1 .text-holder .meta-info li:last-child:before{
    display: none;
}
.single-blog-style1 .text-holder .meta-info li:last-child{
    margin-right: 0;
    padding-right: 0;
}
.single-blog-style1 .text-holder .meta-info li a {
    color: var(--thm-gray);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-blog-style1 .text-holder .meta-info li a:hover{
    color: var(--thm-base);    
}


.single-blog-style1 .text-holder .blog-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 15px;
}
.single-blog-style1 .text-holder .blog-title a{
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-blog-style1 .text-holder .blog-title a:hover{
    color: var(--thm-base);
}

.single-blog-style1 .text-holder .text {
    position: relative;
    display: block;
}
.single-blog-style1 .text-holder .text p {
    margin: 0;
}



/*** 
=============================================
    Blog Page One Css
=============================================
***/
.blog-page-one {

}



/*** 
=============================================
    Blog Page Two Css
=============================================
***/
.blog-page-two {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 150px 0 100px;
}



/*** 
=============================================
    Blog Page Three Css
=============================================
***/
.blog-page-three {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 150px 0 100px;
}
.blog-page3-content{
    position: relative;
    display: block;
}
.blog-page3-content .single-blog-style1 .text-holder .blog-title {
    font-size: 24px;
    margin-bottom: 15px;
}


.single-blog-style1 .text-holder .readmore-button{
    position: relative;
    display: block;
    padding-top: 18px;
}
.single-blog-style1 .text-holder .readmore-button a {
    position: relative;
    display: inline-block;
    color: var(--thm-black);
    font-size: 30px;
    line-height: 30px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    line-height: 14px;
}
.single-blog-style1 .text-holder .readmore-button a span:before {
    position: relative;
    display: block;
    line-height: 16px;
}
.single-blog-style1:hover .text-holder .readmore-button a{
    color: var(--thm-base);
}




































/*** 
=============================================
    Blog Details Area Css
=============================================
***/
.blog-details-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 110px 0 110px;
    z-index: 1;
}
.blog-details-content{
    position: relative;
    display: block;
}
.blog-details-content .single-blog-style1{
    margin-bottom: 46px;    
}
.blog-details-content .single-blog-style1 .text-holder .blog-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.blog-details-text1{
    position: relative;
    display: block;
}

.blog-details-text2{
    position: relative;
    display: block;
    padding: 10px 0 8px;
}

.blog-details-text3{
    position: relative;
    display: block;
}
.blog-details-text3 ul{
    position: relative;
    display: block;
}
.blog-details-text3 ul li{
    position: relative;
    display: block;
    padding-left: 40px;
    color: #252628;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
}
.blog-details-text3 ul li:before{
    font-family: flaticon !important;
    content: "\f12f";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: var(--thm-base);
    font-size: 20px;
    font-weight: 700;
}



.blog-details-quote-box{
    position: relative;
    display: block;
    background: #f8f5ee;
    border-radius: 10px;
    padding: 42px 50px 46px;
    padding-right: 50px;
    margin-top: 50px;
}
.blog-details-quote-box .inner-content {
    position: relative;
    display: block;
    padding-left: 80px;    
} 
.blog-details-quote-box .inner-content .icon{
    position: absolute;
    top: 3px;
    left: 0;
}
.blog-details-quote-box .inner-content .icon span:before {
    position: relative;
    display: inline-block;
    color: var(--thm-base);
    font-size: 40px;
    line-height: 40px;
    transform: rotateY(180deg);
}
.blog-details-quote-box .inner-content .text{
    position: relative;
    display: block;
}
.blog-details-quote-box .inner-content .text h3{
    color: #252628;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    margin: 0 0 19px;
}
.blog-details-quote-box .inner-content .text .name{
    position: relative;
    display: flex;
    align-items: center;
}
.blog-details-quote-box .inner-content .text .name .border-box{
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    background: #252628;
}
.blog-details-quote-box .inner-content .text .name h5{
    position: relative;
    display: block;
    padding-left: 10px;
    color: #252628;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-transform: none;
}


.blog-details-text4{
    position: relative;
    display: block;
    padding-top: 53px;
}

.blog-details-text5{
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 36px;    
}


.blog-details-image-box{
    position: relative;
    display: block;
}
.blog-details-image-box .single-box{
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 30px;
}
.blog-details-image-box .single-box img{
    width: 100%;
}


.blog-details-text6{
    position: relative;
    display: block;
    padding-top: 23px;
}


.blog-details-social-links {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 36px;
}
.blog-details-social-links .inner-title{
    position: relative;
    display: flex;
    align-items: center;
}
.blog-details-social-links .inner-title h3{
    font-size: 20px;
    line-height: 28px;
}

.post-social-link{
    position: relative;
    display: block;
}
.post-social-link ul{
    position: relative;
    display: block;
    overflow: hidden;
}
.post-social-link ul li{
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.post-social-link ul li:last-child{
    margin-right: 0;
}
.post-social-link ul li a{
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    color: #93959e;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 48px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.post-social-link ul li a:hover{
    color: #ffffff;
    border-color: var(--thm-base);
    background-color: var(--thm-base);
}







