

/*** 
=============================================
    Breadcrumb area style
=============================================
***/
.breadcrumb-area {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 149px 0 153px;
    z-index: 10;
}
.breadcrumb-area-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.breadcrumb-area-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #18191a;
    opacity: 0.70;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
}

.breadcrumb-area .inner-content {
    position: relative;
    display: block;
}
.breadcrumb-area .title {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 0 11px;
    z-index: 1;
}
.breadcrumb-area .title h2{
    color: #ffffff;
    font-size: 44px;
    line-height: 1.3em;
    font-weight: 700;
    text-transform: none;
}

.breadcrumb-menu{
    position: relative;
    display: block;
    line-height: 0;
    z-index: 1;
}
.breadcrumb-menu ul {
    position: relative;
    display: block;
    overflow: hidden;
}
.breadcrumb-menu ul li {
    position: relative;
    display: inline-block;
    float: left;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    text-transform: none;
    margin-right: 10px;
    font-family: var(--thm-font);
}
.breadcrumb-menu ul li i:before {
    position: relative;
    top: 0px;
    display: inline-block;
    font-size: 18px;
}
.breadcrumb-menu ul li a {
    color: #ffffff;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.breadcrumb-menu ul li:hover a,
.breadcrumb-menu ul li.active{
    color: var(--thm-base);
}






