
.contact-info-area{
    position: relative;
    display: block;
    margin-top: -180px;
    z-index: 10;
}
.single-contact-info-box{
    position: relative;
    display: block;
    background: #ffffff;
    text-align: center;
    padding: 90px 0 47px;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 0px rgba(26, 46, 85, 0.1);
    margin-bottom: 30px;
    z-index: 2;
}
.single-contact-info-box .icon{
    position: relative;
    display: block;
    line-height: 0;
    z-index: 1;
}
.single-contact-info-box .icon .shape-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: #fef4f4;
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
}
.single-contact-info-box .icon span::before {
    color: var(--thm-base);
    font-size: 60px;
    line-height: 55px;
}


.single-contact-info-box .text{
    position: relative;
    display: block;
    padding-top: 24px;
}
.single-contact-info-box .text .text1{
    font-size: 16px;
}
.single-contact-info-box .text .text1 a{
    color: var(--thm-gray);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-contact-info-box .text .text1 a:hover{
    color: var(--thm-base);
}
.single-contact-info-box .text .text2{
    font-size: 16px;
}
.single-contact-info-box .text .text2 a{
    color: var(--thm-gray);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-contact-info-box .text .text2 a:hover{
    color: var(--thm-base);
}
.single-contact-info-box .text h4{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
}
.single-contact-info-box .text h4 a{
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-contact-info-box .text h4 a:hover{
    color: var(--thm-base);
}
.single-contact-info-box .text p{
    font-size: 16px;
    margin: 0;
}




/*** 
=============================================
    Contact Form Area Css
=============================================
***/
.main-contact-form-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 120px 0 90px;
}
.main-contact-form-area.pdtop90{
    padding-top: 90px;
}

.main-contact-form-area .sec-title {
    margin-top: -12px;
}
.contact-style1_form {
    position: relative;
    display: block;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
}
.contact-form {
    position: relative;
    display: block;
}
.contact-form form{
    position: relative;
    display: block;
}
.contact-form form .input-box{
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea{
    position: relative;
    display: block;   
    background: #ffffff;
    width: 100%;
    height: 55px;
    border: 1px solid #e5e5e5;
    color: #808080;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 27px;
    transition: all 500ms ease;
    font-family: var(--thm-font);
}
.contact-form form textarea {
    height: 150px;
    padding-top: 12px;
    padding-left: 25px;
    border-radius: 25px;
    border-radius: 27px;
}


.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #808080;
}
.contact-form form input[type="text"]:-moz-placeholder {
    color: #808080;
}
.contact-form form input[type="text"]::-moz-placeholder {
    color: #808080;
}
.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #808080;
}
.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #808080;
}
.contact-form form input[type="email"]:-moz-placeholder {
    color: #808080;
}
.contact-form form input[type="email"]::-moz-placeholder {
    color: #808080;
}
.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #808080;
}
.contact-form form textarea::-webkit-input-placeholder {
    color: #808080;
}
.contact-form form textarea:-moz-placeholder {
    color: #808080;
}
.contact-form form textarea::-moz-placeholder {
    color: #808080;
}
.contact-form form textarea:-ms-input-placeholder {
    color: #808080;
}

.contact-form form .button-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form form .button-box button{
    position: relative;
    display: block;
}











/*** 
=============================================
    Google Map Area Css
=============================================
***/
.google-map-area{
    position: relative;
    display: block;
    padding-bottom: 0px;
}
.google-map-area .container-fluid{
    padding: 0;
}
.contact-page-map-outer{
    position: relative;
    display: block;
    z-index: 10;
}
.contact-page-map-outer .map-canvas{
	position: relative;
	width: 100%;
	height: 450px;    
}









