

/***
=============================================
    Fact Counter Area style
=============================================
***/
.fact-counter-area {
    position: relative;
    display: block;
    padding: 105px 0px 60px;
    background: var(--thm-primary);
    z-index: 1;
}
.fact-counter-area .pattern-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    opacity: 0.15;
    z-index: -1;
}

.fact-counter_box {
    position: relative;
    display: block;
}
.fact-counter_box ul{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.single-fact-counter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 33.33%;
    margin-bottom: 42px;
}
.single-fact-counter .icon{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #ffffff;
    text-align: center;
}
.single-fact-counter .icon span::before{
    color: var(--thm-black);
    font-size: 35px;
    line-height: 75px;
    font-weight: 500;
}

.single-fact-counter .outer-box{
    position: relative;
    display: block;
    padding-left: 20px;
    width: calc(100% - 75px);
}
.single-fact-counter .count-box{
    position: relative;
    display: block;
    color: var(--thm-white);
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    font-family: var(--thm-font-2);
}
.single-fact-counter .count-box span {
    position: relative;
    display: block;
    line-height: 60px;
}

.single-fact-counter .title {
    position: relative;
    display: block;
    padding-top: 6px;
}
.single-fact-counter .title h6{
    color: var(--thm-white);
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}




/***
=============================================
    Fact Counter Style2 Area style
=============================================
***/
.fact-counter-style2-area {
    position: relative;
    display: block;
    z-index: 10;
}
.fact-counter_box--style2 {
    position: relative;
    display: block;
    padding: 65px 55px 21px;
    background: var(--thm-base);
    border-radius: 20px;
    margin-top: -120px;
    z-index: 10;
}

.fact-counter_box--style2 .pattern-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background-repeat: repeat;
    background-position: center center;
    opacity: 0.15;
    z-index: -1;
}

.fact-counter-style2-area .sec-title .sub-title p{
    color: var(--thm-white);
    margin-bottom: 0;
}










