
/***
=============================================
    Locations Area Css
=============================================
***/
.locations-section-area{
    position: relative;
    display: flex !important;
    padding: 0 0 50px 0px;
    background: #f1f0e8;
}

.locations-section-area .section-area-1{
    width: 100%;
    padding-top: 100px;
}

.locations-section-area .section-area-2{
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.locations-section-area .section-area-2 .locations-geomap-container{
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.locations-section-area .section-area-1 .location-wrapper{
    position: relative;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 15px 0px rgb(86 20 19 / 5%);
    padding: 15px;
    margin-top: 30px;
}

.locations-section-area .section-area-1 .location-wrapper .location-city-name{
    color: #172746;
    font-size: 16px;
    font-weight: 600;
}

.locations-section-area .section-area-1 .location-wrapper .location-address{
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    padding-bottom: 5px;
}

.locations-section-area .section-area-1 .location-wrapper .location-phone{
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}


.locations-section-area .section-area-1 .location-wrapper .location-phone a{
    color: #172746;
    text-decoration: none;
    transition: all 500ms ease;
}

.locations-section-area .section-area-1 .location-wrapper .location-phone a:hover{
    color: var(--thm-base);
    text-decoration: none;
}

.marker-location-wrapper .marker-location-city-name{
    font-size: 16px;
    font-weight: 600;
}

.marker-location-wrapper .marker-location-address{
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    padding-bottom: 5px;
}

.marker-location-wrapper .marker-location-phone{
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.marker-location-wrapper .marker-location-phone a{
    color: #333333;
    text-decoration: none;
    transition: all 500ms ease;
}

.marker-location-wrapper .marker-location-phone a:hover{
    color: var(--thm-base);
    text-decoration: none;
}
