/*** 
=============================================
    Roofcalc Area Css
=============================================
***/
.roofcalc-style-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 150px 0 150px;
    overflow: hidden;
    z-index: 1;
} 
