
/*** 
=============================================
   Testimonial Style1 Area Css
=============================================
***/
.testimonials-style1-area{
    position: relative;
    display: block;
}
.testimonials-style1-area .shape3{
    position: absolute;
    top: 70px;
    right: 10%;
}

.testimonials-style1__image{
    position: relative;
    display: block;
    padding-top: 70px;
}
.testimonials-style1__image .shape {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.testimonials-style1__image .main-image{
    position: relative;
    display: inline-block;
    z-index: 2;
}
.testimonials-style1__image .main-image img{
    width: auto;
}
.testimonials-style1__image .shape1{
    position: absolute;
    top: 150px;
    left: -30px;
}
.testimonials-style1__image .shape2{
    position: absolute;
    top: 37%;
    right: 80px;
}



.testimonials-style1__content{
    position: relative;
    display: block;
    padding-top: 190px;
    padding-left: 40px;
}
.testimonials-style1__content .sec-title{
    padding-bottom: 33px;    
}
.single-testimonials-style1{
    position: relative;
    display: block;
}
.single-testimonials-style1 .text{
    position: relative;
    display: block;
    padding-bottom: 31px;
}
.single-testimonials-style1 .text p{
    color: #252628;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    font-family: var(--thm-font-2);
}

.single-testimonials-style1 .client-info{
    position: relative;
    display: flex;
    align-items: center;
}
.single-testimonials-style1 .client-info .img-box{
    width: 70px;
}
.single-testimonials-style1 .client-info .img-box img{
    width: 100%;
    border-radius: 50%;
}
.single-testimonials-style1 .client-info .title-box{
    position: relative;
    display: block;
    padding-left: 20px;
}
.single-testimonials-style1 .client-info .title-box h3{
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 5px;
}
.single-testimonials-style1 .client-info .title-box span{
    color: #727272;
    margin: 0;
}

.testimonials-carousel_1{
    position: relative;
    display: block;
}





/*** 
=============================================
   Testimonial Style2 Area Css
=============================================
***/
.testimonials-style2-area{
    position: relative;
    display: block;
    overflow: hidden;
    background: #f8f5ee;
    min-height: 800px;
    z-index: 1;
}
.testimonials-style2-area .shape1 {
    position: absolute;
    top: 5px;
    right: -30px;
}
.testimonials-style2-area .shape2 {
    position: absolute;
    bottom: 40px;
    right: 10%;
}
.testimonials-style2-area .shape3 {
    position: absolute;
    top: 0px;
    right: -50px;
}
.testimonials-style2-area .shape4 {
    position: absolute;
    top: 0px;
    right: 0;
}

.testimonials-style2-area .auto-container{
    max-width: 100%;
    padding: 0;
}
.testimonials-style2-area .row {
    margin-left: 0px;
    margin-right: 0px;
}
.testimonials-style2-area .row [class*=col-] {
    padding-left: 0px;
    padding-right: 0px;
}

.testimonials-style2__image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -15px;
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}


.testimonials-style1__content--style2{
    padding-top: 150px;
    padding-left: 125px;
    padding-bottom: 0px;  
}

.testimonial-style-inner-content{
    position: relative;
    display: block;
    max-width: 550px;
    width: 100%;  
}




/*** 
=============================================
   Testimonial Style3 Area Css
=============================================
***/
.testimonials-style3-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 1;
}
.testimonials-style3-area.pdbtm60{
    padding-bottom: 60px;
}

.testimonials-style3__content{
    position: relative;
    display: block;
}


.single-testimonials-style2{
    position: relative;
    display: block;
    padding-top: 45px;
    z-index: 2;
}
.single-testimonials-style2 .img-box{
    position: absolute;
    top: 0;
    right: 40px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 2;
}
.single-testimonials-style2 .img-box img{
    width: 100%;
    border-radius: 50%;
}

.single-testimonials-style2 .inner{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 40px 40px 34px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px 0px rgba(26, 46, 85, 0.1);
}

.single-testimonials-style2 .review-box{
    position: relative;
    display: block;
}
.single-testimonials-style2 .text {
    position: relative;
    display: block;
    padding: 21px 0 17px;
}
.single-testimonials-style2 .text p{
    color: #252628;
    font-size: 15px;
    line-height: 28px;
    margin: 0;
}

.single-testimonials-style2 .client-info{
    position: relative;
    display: block;    
}
.single-testimonials-style2 .client-info h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 0 3px;
}
.single-testimonials-style2 .client-info span{}



.testimonials-carousel_2{
    position: relative;
    display: block;
}
.testimonials-carousel_2.owl-carousel .owl-stage-outer {
    padding-bottom: 0px;
    overflow: visible;
}
.testimonials-carousel_2.owl-carousel .owl-stage-outer .owl-item{
    opacity: 0;
    transition: all 500ms linear;
    transition-delay: 0.1s;
}
.testimonials-carousel_2.owl-carousel .owl-stage-outer .owl-item.active{
    opacity: 1;
}



/*** 
=============================================
   Testimonial Style2 Testimonail Page Css
=============================================
***/
.testimonials-style2--testimonail-page {
    min-height: 690px;
}
.testimonials-style2--testimonail-page .shape2 {
    position: absolute;
    bottom: -80px;
    right: 10%;
}
.testimonials-style2__image.style2 {
    min-height: 690px;
}

.testimonials-style2--testimonail-page .testimonials-style1__content--style2 {
    padding-top: 150px;
    padding-left: 125px;
    padding-bottom: 150px;
}
.testimonials-carousel_3{}
.testimonials-carousel_3.owl-nav-style-one.owl-theme .owl-nav {
    position: absolute;
    top: -321px;
    right: -150px;
    bottom: -148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonials-carousel_3.owl-nav-style-one.owl-theme .owl-nav [class*="owl-"]{
    margin: 5px 0;
}
.testimonials-carousel_3.owl-nav-style-one.owl-theme .owl-nav .owl-prev {
    transform: rotate(0deg);
    margin-right: 0px;
}



/*** 
=============================================
   Testimonial Style2 Testimonail Page Css
=============================================
***/
.testimonials-style1--testimonial-page{

}
.testimonials-style1--testimonial-page .shape3 {
    position: absolute;
    top: auto;
    right: 1%;
    bottom: 10px;
}
.testimonials-style1--testimonial-page .testimonials-style1__image {
    padding-top: 110px;
}






